<div class="nav-content">
    <div class="top">
        <a class="logo" href="/">
            <img src="/assets/emblem.png" loading="lazy" />
        </a>

        <div class="top-items">
            <a class="jobs" href="https://www.bouwenmetmensen.be">Jobs</a>

            <div class="hamburger" hx-get="/assets/hamburger.svg" hx-trigger="load"></div>
            <div class="search" hx-get="/assets/search.svg" hx-trigger="load"></div>
        </div>
    </div>

    <div class="bottom">
        <div class="bottom-content">
            <div class="left">
                <a href="/wie-we-zijn">Wie we zijn</a>
                <a href="/#in-de-kijker">In de kijker</a>
                <a href="/#wat-we-doen">Wat we doen</a>
                <a href="/#duurzame-strategie">Hoe maken we het verschil</a>
                <a href="https://online.fliphtml5.com/azgkk/ooca/#p=1">Ons Duurzaamheidsrapport</a>
                <a href="/projecten">Projecten</a>
                <a>Jobs</a>
                <a href="/#contact">Contact</a>
            </div>
            <div class="right">
                <h1>Onze bedrijven</h1>
                <div class="companies">
                    <div>
                        <h2>Aannemers</h2>
                        <a>Van Roey</a>
                        <a>vanhout.pro</a>
                        <a>Algemene Bouw Maes</a>
                        <a>Artem</a>
                    </div>
                    <div>
                        <h2>Staalbeton</h2>
                        <a>Architon</a>
                        <a>vanhout.pro</a>
                    </div>
                    <div>
                        <h2>Ontwikkeling</h2>
                        <a>Van Roey Vastgoed</a>
                    </div>
                    <div>
                        <h2>Technieken & Services</h2>
                        <a>Van Roey Services</a>
                        <a>Metiz</a>
                        <a>Alfa group</a>
                        <a>IFTech</a>
                    </div>
                    <div>
                        <h2>Sportexploitatie</h2>
                        <a>Sportoase</a>
                    </div>
                    <div>
                        <h2>Participaties</h2>
                        <a>Skilpod</a>
                        <a>Novinato</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/nav.js"></script>
</div>