.project-introduction {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5rem;

    #title {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 0;
        font-family: inherit;
        color: inherit;
        padding: 0;
        border: 0;
        resize: none;
        height: fit-content;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 20rem;
        font-size: .875rem;
        position: relative;

        &:has(.overlay[disabled="true"]) {
            opacity: .5;
            pointer-events: none;
            user-select: none;

            &::after {
                content: none;
            }
        }

        &[disabled] {
            &::after {
                content: 'This content can only be edited on the base page';
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, .85);
                backdrop-filter: blur(5px);
                opacity: 0;
                transition: opacity .3s ease, backdrop-filter .3s ease;
                text-align: center;
                color: white;
                font-size: 1.2rem;
                font-weight: 500;
                border-radius: 0.625rem;
            }

            &:hover::after {
                opacity: 1;
            }
        }

        .overlay[disabled=true] {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
        }

        >div {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: 300;

            &.year {
                svg {
                    box-sizing: border-box;
                    padding: .3125rem;
                }

                input {
                    outline: none;
                    box-sizing: border-box;
                    border: 1px solid var(--secondary-colour);
                    border-radius: .25rem;
                    padding: .25rem .5rem;
                    font-size: .85rem;
                }

                button {
                    opacity: 0;
                    aspect-ratio: 1;
                    background-color: var(--secondary-colour);
                    border: none;
                    padding: 0;
                    mask-image: url(/close-2.svg);
                    mask-size: contain;
                    mask-position: center;
                    height: 1.5rem;
                    cursor: pointer;
                    transition: opacity .3s ease;
                }

                &:hover {
                    button {
                        opacity: 1;
                    }
                }
            }

            &.industries {
                &.draft {
                    li {
                        &:hover {
                            text-decoration: line-through;
                            cursor: pointer;
                        }
                    }
                }
            }

            input {
                font-family: inherit;
                padding: 0;
                border: none;
            }

            select {
                font-family: inherit;
                font-size: inherit;
                appearance: none;
                border: none;
                background: none;
                padding: 0;
            }

            .icon {
                aspect-ratio: 1;
                width: 3rem;
                background-color: var(--red);
                flex-shrink: 0;
            }

            ul {
                display: grid;
                gap: .25rem;
                list-style: none;
                padding: 0;
                margin: 0;

                >li {
                    min-height: 1.125rem;

                    &.draft {
                        &:hover {
                            text-decoration: line-through;
                            cursor: pointer;
                        }
                    }
                }

                .party-add-form {
                    height: 100%;
                    position: relative;

                    input {
                        outline: none;
                        box-sizing: border-box;
                        border: 1px solid var(--secondary-colour);
                        border-radius: .25rem;
                        padding: .25rem .5rem;
                        font-size: .85rem;
                    }

                    .results {
                        display: none;
                        flex-direction: column;
                        gap: .25rem;
                        position: absolute;
                        top: 100%;
                        margin-top: .5rem;
                        background-color: white;
                        box-sizing: border-box;
                        border: 1px solid var(--secondary-colour);
                        border-radius: .25rem;
                        padding: .25rem .5rem;
                        width: 150%;
                        z-index: 15;

                        input {
                            display: none;
                        }

                        label.title {
                            font-weight: bold;
                        }

                        label.item {
                            cursor: pointer;
                            transition: color .3s ease;

                            &:hover {
                                color: black;
                            }
                        }

                        form {
                            display: flex;
                            flex-direction: column;
                            gap: .25rem;
                        }
                    }

                    &:has(input:focus),
                    &:has(.results:hover) {
                        .results:not(:empty) {
                            display: flex;
                        }
                    }
                }
            }
        }

        hr {
            width: 100%;
            height: 1px;
            background-color: var(--grey);
            opacity: 0.25;
            border: none;
        }
    }

    .content-0 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        min-height: 100%;

        .style-buttons {
            position: absolute;
            display: none;
            background-color: black;
            top: 0%;
            height: 1.5rem;
            margin-top: 1rem;
            left: 50%;
            transform: translateX(-50%);
            padding: .25rem;
            gap: .25rem;
            user-select: none;

            button {
                height: 100%;
                aspect-ratio: 1;
                background-color: white;
                border: none;
                padding: 0;
                cursor: pointer;
            }
        }

        &:hover {
            .style-buttons {
                display: flex;
            }
        }
    }
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    .entry {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .overlay {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            justify-content: center;
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .85);
            opacity: 0;
            transition: opacity .3s ease;
            text-align: center;
            color: white;
            font-size: 1.2rem;
            font-weight: 500;

            &:hover {
                opacity: 1;
            }

            button {
                font-size: 1.2rem;
                border-radius: 0;
                color: var(--primary-colour);
                font-weight: 500;
                padding: .5rem 1.5rem;
                border: 1px solid var(--primary-colour);
                background-color: var(--secondary-colour);
                cursor: pointer;

                &:hover {
                    color: var(--secondary-colour);
                    background-color: var(--primary-colour);
                }
            }
        }

        &.disabled {
            position: relative;
            opacity: .5;

            .add-content-entry {
                display: none;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 2rem;

            h3 {
                margin: 0;
            }

            p {
                margin: 0;
            }
        }

        .config-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: 2;

            &:hover {
                .config {
                    display: flex;
                }
            }

            .config {
                display: none;
                flex-direction: column;
                gap: 1rem;
                width: 100%;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: none;
                    padding: 0;
                    cursor: pointer;
                    aspect-ratio: 1;

                    svg {
                        height: 100%;
                    }

                    &.arrow-down {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .img-wrapper {
            position: relative;
            border-radius: 0.625rem;
            overflow: hidden;
            width: 100%;
            height: 37.5rem;

            .edit,
            .delete {
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1;
                position: absolute;
                right: .5rem;
                top: .5rem;
                width: 2.5rem;
                aspect-ratio: 1;
                border: none;
                color: white;
                font-weight: 700;
                cursor: pointer;
                transition: opacity .3s ease;
                opacity: 0;
                padding: 0;
                font-size: 1.6rem;
                background-color: var(--secondary-colour);
                border-radius: .25rem;

                &::after {
                    display: inline-block;
                    content: '';
                    height: calc(100% - 1rem);
                    width: calc(100% - 1rem);
                    box-sizing: border-box;
                    background-color: var(--primary-colour);
                    mask-size: contain;
                    mask-position: center;
                    mask-repeat: no-repeat;
                    opacity: .5;
                    transition: opacity .3s ease;
                }

                &:hover::after {
                    opacity: 1;
                }
            }

            &:hover {

                .edit,
                .delete {
                    opacity: 1;
                }
            }

            .edit {
                inset: .5rem;
                &::after {
                    mask-image: url(/edit.svg);
                }
            }

            .delete {
                right: .5rem;
                top: .5rem;
                &::after {
                    mask-image: url(/clear.svg);
                }
            }

            img {
                width: 100%;
                height: 100%;
                border: none;
                object-fit: cover;
                object-position: center;

                &:not([src]),
                &[src=''] {
                    border-radius: 0.625rem;
                    border: 1px dotted black;
                    border-style: dashed;
                    box-sizing: border-box;
                }
            }
        }


        &:nth-of-type(even) {
            .content-entry-content {
                text-align: left;
            }

            .config-wrapper {
                grid-row: 1;
                grid-column: 2;
            }

            .img-wrapper {
                grid-row: 1;
                grid-column: 1;
            }

            .text {
                grid-row: 1;
                grid-column: 3;
            }
        }

        .content-entry-content {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 2rem 1fr;
            column-gap: 1rem;
            row-gap: 3rem;
            text-align: right;

            .text {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 100%;
                height: 100%;

                >.__editor, [is=[text-editor]] {
                    flex: 1;
                }
            }


            .quote {
                color: var(--red);
                width: 75%;
                justify-self: center;
                text-align: center;
                font-weight: 600;
                line-height: 1.4;
                font-size: 2rem;
                grid-column: 1 / span 3;
                font-family: inherit;
                border: none;
                resize: none;
            }
        }
    }
}